@import "./general/root.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-secondary-1-2);
}

body {
  position: relative;
  background: var(--color-secondary-2-0);
  width: 100vw;
  height: 100vh;
}

form {
  position: absolute;
  background-color: var(--color-secondary-2-1) !important;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

fieldset {
  border: none;
}

#set1Form {
  position: relative;
  margin: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  width: 70%;
}

#set1Form input {
  width: 350px;
  height: 60px;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 15px;
  background: transparent;
  border: 2px solid green;
  outline: none;
}

#set1Form label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: white;
  font-size: 20px;
  pointer-events: none;
  transition: .3s;
}

#set1Form label ~ input:focus {
  top: 0;
  left: 15px;
  font-size: 15px;
  padding: 0 2px;
  background-color: black;
}

#set2Form {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: start;
}

#set3Form {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

button {
  background-color: var(--color-primary-1);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  transition: opacity 400ms;
}

button:hover {
  opacity: 0.6;
}

footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

footer a{
  padding: 0.5rem;
}
